.actions {
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.actions-button {
  padding: 0;
  height: 37px;
}

.actions-link {
  padding: 10px 30px;
  text-decoration: none;
  color: currentColor;
}

.second-title {
  color: #4D4E4D;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-wrapper {
  width: 100%;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  height: 50px;
  border-bottom: 1px solid #E4E6E9;
}

.table-row:first-child {
  background-color: #F1F3F6;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
}

.table-create {
  font-weight: bold;
  color: #9EA4B4;
  text-align: left;
  padding-left: 20px;
  width: 10%;
}

.table-number {
  font-weight: bold;
  color: #9EA4B4;
  text-align: left;
  width: 7%;
}

.table-supply {
  font-weight: bold;
  color: #9EA4B4;
  text-align: left;
  width: 8%;
}

.table-comment {
  font-weight: bold;
  color: #9EA4B4;
  text-align: left;
  width: 50%;
}

.table-actions {
  font-weight: bold;
  color: #9EA4B4;
  text-align: center;
  width: 10%;
}

.table-text {
  color: #9EA4B4;
}

.table-num {
  color: #A2B8FD;
}

.table-text:first-child {
  padding-left: 20px;
}

.table-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.icon-delete {
  display: flex;
  margin-right: 25px;
  cursor: pointer;
}

.icon-edit {
  display: flex;
  cursor: pointer;
}

.icon-delete svg, .icon-edit svg {
  fill: #9EA4B4;
  transition: all .3s ease;
}

.icon-delete:hover svg {
  fill: red;
}

.icon-edit:hover svg {
  fill: orange;
}